/********ESTILOS PREGUNTAS FRECUENTES********/

.conteiners__pfs {
    gap: 5%;

    .box__pf {
        background-color: $secondaryColor;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        gap: 20px;

        .conteiner__text {

            .titulos__pf {
                font-family: $secondaryText;
                color: $tertiaryColor;
                font-size: 24px;
                text-align: center;
            }

            .text__pf {
                font-family: $tertiaryText;
                text-align: center;
                font-size: 17px;
            }
        }
    }
}