/*****ESTILOS DE FOOTER*****/

$colorFoot: (
    text: black,
    mainColorFoot: rgb(211, 18, 18),
);

@mixin flex_general {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%text__foot{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px;

    .titulos__footer {
        font-family: 'Bebas Neue', cursive;
        font-size: 25px;
        color: map-get($colorFoot, mainColorFoot );
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .box__despedida {
        display: flex;
        flex-direction: column;
        width: 35%;

        .texto__footer {
            @extend %text__foot;
        }

    }

    .box__navbar {

        ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        .menu__foot {
            @include flex_general();
            list-style-type: none;
            padding-bottom: 10px;

            .item__foot {

                a {
                    font-family: 'Unica One', cursive;
                    font-size: 20px;
                    color: map-get($colorFoot, text);
                    text-decoration: none;
                }

                &:hover {
                    a {
                        color: map-get($colorFoot, mainColorFoot );
                    }
                }

            }

        }

    }

    .box__contactos {
        @include flex_general();

        .conteiner__contactos {
            display: flex;
            align-items: center;

            .logos__footer {
                width: 40px;
            }

            .text__insta {

                a {
                    @extend %text__foot;
                    text-decoration: none;
                    color: map-get($colorFoot, text);
                }

                &:hover {

                    a {
                        color: map-get($colorFoot, mainColorFoot );
                    }

                }

            }

            .text__correo {
                @extend %text__foot;

                &:hover {
                    color: map-get($colorFoot, mainColorFoot );
                }

            }

        }
    }

}