/*****GRIDS*****/

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0fr 0fr 0fr;
    grid-template-areas:
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}