/*****ESTILOS DEL HEADER Y DE LA BARRA DE NAVEGACION*****/

header {
    background-color: $secondaryColor;
    position: sticky;
    top: 0%;
    z-index: 100;

    .logo {
        width: 120px;
    }

    .navbar{
        --bs-navbar-color: $secondaryColor;
    }

    .navbar-toggler {
        color: $tertiaryColor;
    }

    .navbar-nav {
        text-align: center;
        gap: 10px;

        .menu__item {

            a {
                font-family: $secondaryText;
                font-size: 20px;
                color: $tertiaryColor;
                text-decoration: none;
                padding: 10px;
            }

        }

    }
}