@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coda&family=Comfortaa:wght@300&family=Unica+One&display=swap');

$mainColor: #850808;
$secondaryColor: white;
$tertiaryColor: red;
$textColor: black;
$colorFooter: rgb(211, 18, 18);
$titulos: 'Bebas Neue', cursive;
$mainText: 'Comfortaa', cursive;
$secondaryText: 'Unica One', cursive;
$tertiaryText: 'Coda', cursive;