/*****ESTILOS DE CONTACTOS*****/

.page__contactos {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .caja__contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .cajita__contactos {
            background-color: $secondaryColor;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 5px;

            .fa-whatsapp,
            .fa-envelope,
            .fa-instagram{
                font-size: 100px;
                margin-left: 20px;
                color: $mainColor;
            }

            .texto__contactos {
                font-family: $mainText;
                width: 100%;
                padding: 10px;

                &:hover{
                    color: $tertiaryColor;
                }
            }

            .texto__contactos a {
                text-decoration: none;
                color: $textColor;

                &:hover{
                    color: $tertiaryColor;
                }
            }
        }
    }

    .conteiner__form {
        background-color: $secondaryColor;
        width: 100%;
        padding: 15px;
        border-radius: 10px;

        .text__form{
            font-family: $secondaryText;
            font-size: 18px;
        }

        .btn__contactos{
            display: flex;
            justify-content: flex-end;

            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #e30808;
                --bs-btn-border-color: #850808;
                --bs-btn-hover-color: #e30808;
                --bs-btn-hover-bg: #fff;
                --bs-btn-hover-border-color: #e30808;
                --bs-btn-focus-shadow-rgb: 202,17,17;
                font-family: $secondaryText;
                font-size: 20px;
            }

            .btn:hover {
                color: $tertiaryColor;
                background-color: $secondaryColor;
                border-color: $tertiaryColor;
            }
        }
    }
}